<div class="items-center justify-center min-h-full min-w-full bg-gray-900 border-2 border-gray-600 p-8 space-y-6 rounded-lg">
  <%= image_tag "somos_loading.gif", class: "w-30 h-auto mx-auto block" %>
<div class="flex flex-wrap justify-center gap-4 text-2xl font-roboto-mono font-bold bg-gray-800 border-2 border-gray-500 p-4 rounded-lg">
  <div class="text-center w-full text-yellow-400">
    <div class="font-roboto-mono font-semibold text-white">KPI'S</div>
    <div class="font-roboto-mono font-semibold text-white">EMPRESARIALES</div><br>
    <div class="grid grid-cols-2 gap-4 justify-items-center">
      <div class="bg-gray-900 border-2 border-yellow-400 font-roboto-mono font-semibold text-yellow-400 hover:scale-105 px-4 py-2 text-2x1">NPS
        <p class="text-sm font-normal font-roboto-mono text-justify text-white">El net promoted score nos permite entender y medir cifras de satisfacción del cliente.<br>
           Se debe calcular restando el porcentaje de clientes insatisfechos del porcentaje de clientes muy satisfechos, o conocidos tambien como detractores y promotores.<br>
           la calificacion se da de 1 a 10, donde:<br>
          → De 1 a 6 son detractores.<br>
           → 7 y 8 neutros.<br>
           → 9 y 10 promotores.<br> Un puntaje positivo indica que hay más promotores que detractores.
            En SOMOS esta metrica se compone de dos submetricas, la cprimera es el NPS de los usuarios en periodo free trial y el NPS de los usuarios convertidos.</p>
         <p class="text-sm font-semibold">NPS GLOBAL ACTUAL SOMOS: 48.29% </p>
      </div>
      <div class="bg-gray-900 border-2 border-yellow-400 p-4 rounded hover:scale-105 font-semibold text-2x1">CHURN
        <p class="text-sm font-normal font-roboto-mono text-justify text-white">El Churn es el porcentaje de clientes que estamos perdiendo todos los días. Sea cual sea la razón de su salida, todos los usuarios que se van nos duelen muchísimo.
            Este indicador se divide en dos tipos:<br>
            <b>→Churn de Free Trial:</b> clientes que toman su mes de prueba gratis y deciden no instalar el servicio después de finalizar su periodo de prueba.<br>
            <b>→Churn de clientes pagando:</b> clientes que, después de haber pagado al menos una factura, deciden retirar el servicio.</p>
      </div>
      <div class="font-roboto-mono font-semibold text-center col-span-2 text-white ">EQUIPO DATA</div>
      <div class=" bg-gray-900 border-2 border-yellow-400 p-4 rounded hover:scale-105">SEGUIMIENTO DE PROGRESOS Y SPRINTS
        <p class="text-sm font-normal font-roboto-mono text-justify text-white">El equipo de Data trabaja con sprints semanales, en los que se planifican las tareas a ejecutar y se da seguimiento al progreso mediante la herramienta Jira.
            Al finalizar cada sprint, se realiza una revisión para evaluar los avances, identificar oportunidades de mejora y definir las prioridades del siguiente ciclo.<br>
            Es importante porque permite al equipo mantener un control claro sobre lo que se está construyendo, evitando desviaciones y asegurando que las prioridades del negocio se cumplan.</p>
      </div>
      <div class="bg-gray-900 border-2 border-yellow-400 p-4 rounded hover:scale-105">ANÁLISIS Y RENDIMIENTO DE METABASE
        <p class="text-sm font-normal font-roboto-mono text-justify text-white">Metabase es la herramienta principal que utiliza el equipo de Data para la creación de dashboards y reportes.<br>
        Por lo tanto su buen funcionamiento es primordial para el desarrollo de la operacion y la toma de decisiones.<br>
        El equipo de data se encarga de monitorear e identificar problemas de rendimiento o consultas pesadas que pueden afectar la velocidad del sistema y asi mismo buscar soluciones que optimicen su rendimiento.</p>
      </div>
    </div>
  </div>
</div>

  <div class="flex space-x-4 justify-center">
  <button class="flex-1 bg-gray-800 border-2 border-yellow-400 text-yellow-400 font-roboto-mono font-bold py-3 px-6 rounded hover:bg-gray-700 hover:text-yellow-300" onclick="location.href='<%= root_path %>'">
    ROOT
  </button>

  <button class="flex-1 bg-gray-800 border-2 border-yellow-400 text-yellow-400 font-roboto-mono font-bold py-3 px-6 rounded hover:bg-gray-700 hover:text-yellow-300" onclick="location.href='<%= url_for(controller: :static_pages, action: :tech) %>'">
    TECH
  </button>
  </div>
</div>
