<div class="items-center justify-center min-h-full min-w-full bg-gray-900 border-2 border-gray-600 p-8 space-y-6 rounded-lg">
  <div class="relative w-full h-48">
    <%= image_tag "somos_lamps.gif", class: "w-full h-full object-cover" %>
 <div class="absolute inset-0 flex items-center justify-center">
  <h1 class="text-4xl font-roboto-mono font-bold text-center">TECH</h1>
 </div>
  </div>

  <div class="bg-gray-800 border-2 border-yellow-400 p-4 rounded-lg text-center">
    <div class="bg-gray-900 border-2 border-yellow-400 font-roboto-mono font-bold text-yellow-400 text-2x1 p-4">¿Que es Convention over Configuration (CoC) 
      <p class =" text-sm font-normal font-roboto-mono text-justify text-white">Se define como la practica de minimizar la configuracion necesaria para que una aplicacion funcione.
         Esto significa que, en lugar de tener que especificar cada detalle de la configuracion, se establecen valores predeterminados y convenciones que permiten que la
        aplicacion funcione sin necesidad de configuracion adicional.</p>
    </div><br>
    <div class="bg-gray-900 border-2 border-yellow-400 font-roboto-mono font-bold text-yellow-400 text-2x1 p-4">¿Qué es el enrutamiento RESTful?
      <p class =" text-sm font-normal font-roboto-mono text-justify text-white">El diseño REST es una práctica para la construcción de APIs web que se basa en identificar los recursos a través de URIs (Uniform Resource Identifiers). Estos recursos suelen representarse con sustantivos, como por ejemplo usuarios o productos.

Para interactuar con dichos recursos, se utilizan los verbos del protocolo HTTP: GET, POST, PUT y DELETE, que definen las operaciones que se pueden realizar sobre cada uno de ellos.</p>
         </div>
    </div>
  
  
  <div class="flex space-x-4  justify-center">
   <button class="flex-1 bg-gray-800 border-2 border-yellow-400 text-yellow-400 font-roboto-mono font-bold py-3 px-6 rounded hover:bg-gray-700 hover:text-yellow-300" onclick="location.href='<%= root_path %>'">
    ROOT
  </button>

  <button class="flex-1 bg-gray-800 border-2 border-yellow-400 text-yellow-400  font-roboto-mono font-bold py-3 px-6 rounded hover:bg-gray-700 hover:text-yellow-300" onclick="location.href='<%= url_for(controller: :static_pages, action: :somos) %>'">
    SOMOS
  </button>
</div>

</div>
